<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Minigames!!!</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
    <h1>Welcome to the Minigame Gauntlet!</h1>
    <button id='mines'class='btn'>Minesweeper</button>
    <button id='simon' class='btn'>Simon Says</button>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('mines').addEventListener('click', () => {
                window.location.href = '{{ url_for('play', game_id='minesweeper') }}'
            })
        })
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('simon').addEventListener('click', () => {
                window.location.href = '{{ url_for('play', game_id='simon') }}'
            })
        })
    </script>
</body>
</html>
