<head>
    <title>Simon Says</title>
    <style>
        #squares {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            width: 200px;
            height: 200px;
        }
        .colour {
            pointer-events: none;
            opacity: 0.5;
        }
        .colour.on {
            pointer-events: auto;
            opacity: 0.7;
        }
        .colour.flash {
            opacity: 1;
        }
    </style>
</head>

<body>
    <h1>Simon Says...</h1>
    <div id='status'>click Start to play!</div>
    <div id='squares'>
        <div class='colour' id='r' style='background: red;'></div>
        <div class='colour' id='g' style='background: green;'></div>
        <div class='colour' id='b' style='background: blue;'></div>
        <div class='colour' id='o' style='background: orange;'></div>
    </div>
    <button id='start'>Start</button>
    <div id='score'>Score: 0</div>
    <div id='highscore'>High Score:</div>

    <script>
        // the class attribute is a group identifier and
        // querySelectorAll returns all elems as a NodeList
        const squares = document.querySelectorAll('.colour')
        const flash_time = 300  // ms
        const wait_time = 1000  // ms

        async function start() {
            // urls on client-side need to have Blueprint prefix included
            const resp = await fetch('/simon/start', {method: 'GET'})
            const data = await resp.json()
            document.getElementById('score').textContent = 'Score: 0'
            document.getElementById('highscore').textContent = `High Score: ${data.highscore}`
            await show_sequence()
        }

        async function show_sequence() {
            disable_squares()
            document.getElementById('status').textContent = 'Watch closely...' 
            await new Promise(r => setTimeout(r, wait_time))
            
            const resp = await fetch('/simon/sequence', {method: 'POST'})
            const data = await resp.json()
            for (const colour of data.sequence) {
                await flash(colour)
                await new Promise(r => setTimeout(r, flash_time))
            }
            document.getElementById('status').textContent = 'Your turn!' 
            enable_squares()
        }

        // the only method that POSTs data to server.
        // acts like a webhook by sending data to server at every event
        // attacker could modify data but it doesn't really matter bc
        // the server only accepts colours that it expects, and
        // you cant modify any of the state vars.
        // status: game_over, continue, next (turn)
        async function verify_choice(colour) {
            // header tells server how to read data
            const resp = await fetch('/simon/verify', {
                method: 'POST', 
                headers: {'Content-Type': 'application/json'}, 
                body: JSON.stringify({choice: colour})
            })
            const data = await resp.json()

            if (data.status == 'game_over') {
                disable_squares()
                document.getElementById('status').textContent = 'Game Over'
                document.getElementById('score').textContent = `Final Score: ${data.final}`
                document.getElementById('highscore').textContent = `High Score: ${data.highscore}`
            }
            else if (data.status == 'continue') {
                document.getElementById('score').textContent = `Score: ${data.score}`
                await show_sequence()
            }
        }

        // ------------------ helpers --------------------
        async function flash(colour) {
            const square = document.getElementById(colour)
            square.classList.add('flash')
            await new Promise(r => setTimeout(r, flash_time))
            square.classList.remove('flash')
        }

        function enable_squares() {
            squares.forEach(colour => colour.classList.add('on'))
        }

        function disable_squares() {
            squares.forEach(colour => colour.classList.remove('on'))
        }

        // ------------------  main ----------------------
        disable_squares()
        document.getElementById('start').addEventListener('click', start)
        // forEach returns the element, not its id
        squares.forEach(colour => {
            // need to have async inside listener if fns are async
            colour.addEventListener('click', async () => {
                await flash(colour.id);
                await verify_choice(colour.id);
            })
        })
    </script>
</body>

